.Back {
    background-color: rgba(241, 241, 241, 1);
    width: 768px;
    height: 810px;
    text-align: center;
}

.CardBlank {
    width: 10px;
    height: 140px;
}

.AppBlank {
    width: 10px;
    height: 140px;
}